@use "sass:math";

$default-window-width: 1920 !default;
$default-window-height: 1080 !default;

$default-timing-speed: 0.35s;
$default-timing-func: cubic-bezier(0.33, 1, 0.68, 1);

$square-size: 20px;

$sizes: "xxs", "xs", "s", "m", "l", "xl", "xxl", "3xl", "4xl", "5xl";

$colors: (
  "transparent": transparent,
  "black": #000,
  "white": #fff,
  "bird": #fff3cd,
  "doctor": #f8f9fa,
  "alligator": #856404,
  "seljuk": #4285f4,
  "sapphire": #3367d6,
  "gray": #a9a9a9,
);

$fonts: (
  "evex-regular": "Evex-Regular",
  "evex1001": "Evex1001",
  "evexweb-regular": "evexweb-Regular",
  "ping-regular": "PingRoundGeLVariable-Regular",
);
